<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">{{ title }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% for key, value in departures.items %}
            <li class="nav-item active">
              <a class="nav-link" href="/departure/{{ key }}" data-test="navlink">{{ value }}</a>
            </li>
          {% endfor %}
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Из Петербурга</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Из Новосибирска</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Из Екатеринбурга</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Из Казани</a> -->
          </li>
        </ul>
      </div>
    </nav>


    <h1 class="display-5 mt-4">Летим <span data-test="from">{{ departure }}</span></h1>
    <p class="mb-4" >Найдено <span data-test="tourcount">{{ departure_value_tours }}</span> туров, от <span data-test="pricemin">{{ price_list.0 }}</span> до <span data-test="pricemax">{{ price_list | last }}</span> и от <span data-test="nightsmax">{{ nights_list.0 }}</span> ночей до <span data-test="nightsmax">{{ nights_list | last }}</span> ночей</p>
    <!-- HERO -->



    <!-- CARDS -->

      <div class="row mt-5" data-test="cards">
        {% for key, value in current_departures_dict.items %}
          <div class="col-4" data-test="card">
            <div class="card mb-3" >
              <img src="{{ value.picture }}" class="card-img-top img-fluid" data-test="picture">
              <div class="card-body">
                <h5 class="card-title">{{ value.title }}</h5>
                <p class="card-text">{{ value.description | truncatechars:100 }}</p>
                  <a href="/tour/{{ key }} " class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>    

</div>

</body>
</html>